<div class="mb-4">
  <mat-toolbar color="primary" class="d-flex justify-content-between px-3">
    <h1>Dia Organizado 📝</h1>
    <div>
      <a
        class="me-3"
        href="https://www.linkedin.com/in/vito-ianhis-siscaro-68b890211/"
        target="_blank"
      >
        <img
          src="../../../../assets/imagens/linkedin_4.png"
          alt="logomarca do linkedin"
        />
      </a>
      <a class="me-4" href="https://github.com/VitoIanhis" target="_blank">
        <img
          src="../../../../assets/imagens/github-logo.png"
          alt="logomarca do github"
        />
      </a>
    </div>
  </mat-toolbar>
</div>
