mat-card {
  width: 90vw;
  max-width: 1000px;
  border-radius: 10px;
}

mat-card, table {
  background-color: whitesmoke;
}


.td-descricao {
  white-space: normal;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
}