<button mat-raised-button  color="primary" type="button" class="mb-3" (click)="abrirModal('Criar')">
  Criar Tarefa ✍
</button>

<mat-card class="p-4">
  <h1 class="text-center text-muted mb-4">Lista de Tarefas 📋</h1>


  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="tarefa">
      <th mat-header-cell *matHeaderCellDef>Tarefa 📋</th>
      <td mat-cell *matCellDef="let element">{{ element.task }}</td>
    </ng-container>

    <ng-container matColumnDef="descricao">
      <th mat-header-cell *matHeaderCellDef>Descrição 📜</th>
      <td mat-cell *matCellDef="let element">
        <div class="td-descricao">{{ element.description }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="dataCriacao">
      <th mat-header-cell *matHeaderCellDef>Data da Criação 📅</th>
      <td mat-cell *matCellDef="let element">{{ element.created_at | date: 'dd/MM/yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status ✔️/❌</th>
      <td mat-cell *matCellDef="let element">{{ element.status ? 'Completa ✔️' : 'Incompleta ❌' }}</td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef>Ações ⤵️</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openMenu(row)"></tr>
  </table>
</mat-card>

<mat-menu #menu="matMenu">
  
  <button mat-menu-item (click)="abrirModal('Editar')">
    <mat-icon class="text-secondary">edit</mat-icon>
    <span>Editar</span>
  </button>

  <button mat-menu-item (click)="deletarTodo()">
    <mat-icon class="text-danger">delete</mat-icon>
    <span class="text-danger">Deletar</span>
  </button>
</mat-menu>

<app-loader *ngIf="carregando"/>