<h1 class="text-center text-muted m2-3">{{ modo }} Tarefa</h1>
<div class="modal-container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row">
            <mat-form-field class="col-12" appearance="outline">
              <mat-label>Tarefa</mat-label>
              <input matInput type="text" formControlName="tarefa" />
              <mat-error>Campo obrigatório</mat-error>
            </mat-form-field>
      
            <mat-form-field class="col-12" appearance="outline">
              <mat-label>Descrição</mat-label>
              <input matInput type="text" formControlName="descricao" />
              <mat-error>Campo obrigatório</mat-error>
            </mat-form-field>
      
            <div class="col-12" *ngIf="modo === 'Editar'">
              <mat-checkbox color="primary" formControlName="status">
                Concluído
              </mat-checkbox>
      
            </div>
            
            <div class="d-flex justify-content-between mt-2">
                <button mat-stroked-button color="primary" type="button" (click)="fecharModal()">Cancelar</button>
                <button mat-raised-button color="primary">Salvar</button>
            </div>
          </div>
        </form>
</div>
    
<app-loader *ngIf="carregando"/>
